<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.intell">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Intell"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".ui.EnvironmentActivity"
            android:exported="true"
            android:label="@string/title_activity_environment"
            android:theme="@style/Theme.Intell.NoActionBar" />
        <activity android:name=".ui.ReviewFormActivity_" android:exported="true" />
        <activity android:name=".ui.ReviewForm31Activity_" android:exported="true" />
        <activity android:name=".ui.ReviewForm32Activity_" android:exported="true" />
        <activity android:name=".ui.ReviewForm33Activity_" android:exported="true" />
        <activity android:name=".ui.ReviewForm34Activity_" android:exported="true" />
        <activity
            android:name=".ui.PDFViewActivity_"
            android:exported="true" />
        <activity
            android:name=".ui.DisplayPdfActivity"
            android:exported="true" />
<!--        <activity android:name="com.fenbi.android.setting.setting.SettingsActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>-->
        <activity
            android:name=".ui.WebviewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- FileProvider used to share photos with other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.intell.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>